body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

/* Section 1 & 6 */
.header, .footer {
    display: flex;
    padding: 30px 200px;
    background-color: #1f2937;
    color: whitesmoke;
    align-items: center;
}

.header {
    justify-content: space-around;
}

.header-logo {
    font-size: 30px;
}

.header-nav {
    display: flex;
    gap: 25px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.footer {
    justify-content: center;
}

/* Section 2 */
.hero-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #1f2937;
}

.hero-left {
    color: whitesmoke;
    width: 450px;
}

.hero-text {
    font-size: 48px;
    font-weight: 700;
    
}

.hero-left button {
    background-color: #3882F6;
    color: whitesmoke;
    font-weight: 500;
    border: none;
    padding: 8px 23px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: inherit;
}

.hero-image {
    object-fit: cover;
    width: 450px;
    height: 200px;
    border-radius: 5px;
}

/* Section 3 */
.profile-panel {
    padding: 80px;
    text-align: center;
}

.profile-panel h1 {
    margin-top: 0;
}

.profiles-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profiles {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
}

.profiles img {
    border-radius: 10px;
    border: 5px solid #3882F6;
}

/* Section 4 */
.quote-panel {
    background-color: #E5E7EB;
    padding: 80px;
}

.quote-text {
    font-size: 30px;
    font-style: italic;
    text-align: right;
    /* New CSS not covered yet below */
    display: table;
    text-align: center;
    margin: 0 auto; 
    /* Margin auto centers the {display: table} on the page */
}

.quoter {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    font-style: normal; /* To replace {font-style: italic} applied to whole .quote-text */
}

/* Section 5 */
.signup-panel {
    padding: 80px;
    display: flex;
    justify-content: center;;
}

.signup-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;

    background-color: #3882F6;
    padding: 30px 100px;
    color: whitesmoke;
    border-radius: 5px;
}

.signup-title {
    font-size: 18px;
    font-weight: bold;
}

.signup-button-alt {
    background-color: inherit;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: 500;
    font-size: inherit;
}